.App {
  width: 500px;
  min-height: 500px;
  margin: auto;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 5px;
  .content {
    position: relative;
    display: flex;
    .battery {
      width: 50%;
      width: 170px;
      height: 300px;
      margin-top: 80px;
      margin-right: calc(50% - 180px);
      border: 2px solid purple;
      position: relative;
      .pole {
        width: 35px;
        height: 10px;
        background-color: purple;
        position: absolute;
        top: -10px;
        &:first-child {
          left: 20%;
        }
        &:nth-child(2) {
          right: 20%;
        }
      }
      .meter {
        position: relative;
        width: 170px;
        height: 300px;
        background-color: gray;
        mask: url(./img/mask.svg);
      }
    }
    .info {
      width: 50%;
      text-align: center;
    }
  }
}
